@font-face {
  font-family: "Alegreya Sans - Light";
  src: url("../fonts/AlegreyaSans-Light.ttf"); }

@font-face {
  font-family: "Alegreya Sans";
  src: url("../fonts/AlegreyaSans-Regular.ttf"); }

@font-face {
  font-family: "Alegreya Sans - Bold";
  src: url("../fonts/AlegreyaSans-Bold.ttf"); }

@font-face {
  font-family: "Alegreya Sans - Extra Bold";
  src: url("../fonts/AlegreyaSans-ExtraBold.ttf"); }

@font-face {
  font-family: "Alegreya Sans - Medium";
  src: url("../fonts/AlegreyaSans-Medium.ttf"); }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf"); }

.footer {
  margin: 0 auto;
  background-color: #ffffff;
  display: flex; }
  @media screen and (max-width: 480px) {
    .footer {
      flex-wrap: wrap; } }
  .footer .contacts {
    width: 50%;
    margin: 26px 79px; }
    @media screen and (max-width: 768px) {
      .footer .contacts {
        width: 100%;
        margin: 26px 22px; } }
    @media screen and (max-width: 480px) {
      .footer .contacts {
        margin: 28px auto 15px;
        text-align: center; } }
    .footer .contacts__address {
      color: #010101;
      font-family: "Alegreya Sans";
      font-size: 21px;
      margin-bottom: 5px; }
      @media screen and (max-width: 480px) {
        .footer .contacts__address {
          margin-bottom: 0; } }
    .footer .contacts__phone {
      background-image: url(../img/phone.png);
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 20px;
      color: #0f5a47;
      font-family: "Alegreya Sans";
      font-size: 21px; }
      @media screen and (max-width: 480px) {
        .footer .contacts__phone {
          background-position: 33% 80%;
          padding-top: 13px;
          padding-left: 0; } }
  .footer .socials {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-top: 42px;
    margin-right: 80px;
    margin-bottom: 26px;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .footer .socials {
        width: 100%;
        margin-right: 8px; } }
    @media screen and (max-width: 480px) {
      .footer .socials {
        margin: 0 auto 30px;
        text-align: center;
        justify-content: center; } }
    .footer .socials .social {
      margin-right: 20px; }

.vk:hover {
  fill: #000;
  cursor: pointer; }

.fb:hover {
  fill: #000;
  cursor: pointer; }

.inst:hover {
  fill: #000;
  cursor: pointer; }

.tw:hover {
  fill: #000;
  cursor: pointer; }

.full-screen-menu {
  position: relative;
  width: 768px;
  min-height: 1000px;
  background-color: #2f3234;
  opacity: 0.99;
  background-size: 100%;
  margin: 0 auto;
  display: none; }
  .full-screen-menu .image-menu {
    position: absolute;
    top: 32px;
    right: 26px; }
  .full-screen-menu .menu-full-screen {
    padding-top: 143px;
    margin: 0 auto;
    text-align: center; }
    .full-screen-menu .menu-full-screen li a {
      color: #ffffff;
      font-family: "Alegreya Sans";
      font-size: 36px;
      line-height: 72px; }
      .full-screen-menu .menu-full-screen li a:hover {
        text-decoration: underline; }
